/*importamos las fuentes a utilizar desde goole fonts*/
@import url("https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:wght@500&family=Work+Sans:wght@200;400;600;800&display=swap");
/* En la regla @font-face, define la fuente personalizada correctamente */
@font-face {
  font-family: "fuenteAlternativa";
  src: url("fonts/Baloo-Regular.ttf") format("truetype");
  /* Agrega otros formatos de fuente si están disponibles */
}

/* En la regla donde deseas aplicar la fuente personalizada, especifica su nombre */
.inicio .alternative {
  font-family: "fuenteAlternativa", sans-serif;
}

/* Estiliza el icono de flecha */
.arrow-icon {
  text-align: center;
  margin-top: 20px; /* Ajusta el espaciado según tus necesidades */
  cursor: pointer; /* Cambia el cursor al pasar el mouse sobre la flecha */
}

.arrow-icon i {
  font-size: 90px; /* Tamaño del icono */
  color: #e9d137; /* Color normal */
  transition: color 0.3s; /* Agrega una transición para el cambio de color */
}

/* Cambia el color al pasar el mouse sobre la flecha */
.arrow-icon:hover i {
  color: #7ca073; /* Nuevo color al pasar el mouse */
}

/*Estilos generales*/
* {
  box-sizing: border-box;
  font-family: "Work Sans";
  margin: 0;
  padding: 0;
}
html {
  /*PARA DESLIZAR CUANDO HACEMOS CLICK EN LOS LINKS*/
  scroll-behavior: smooth;
}
/*MENU ENCABEZADO*/
.imglogo {
  width: 40%;
}

.contenedor-header {
  /** background-color: #7ca073; */
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
}

.contenedor-header header {
  background-color: #fffafa;
  max-width: auto;
  height: 70px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
}
.contenedor-header header .logo a {
  font-family: "";
  font-size: 40px;
  color: #26353b;
  text-decoration: none;
}
.contenedor-header header ul {
  display: flex;
  list-style: none;
}
.contenedor-header header nav ul li a {
  text-align: center;
  color: black;
  margin: 0 15px;
  padding: 3px;
  transition: 0.5px;
  text-decoration: none;
  font-size: 12px;
  font-weight: bolder;
}
.contenedor-header header nav ul li a:hover {
  color: yellow;
  font-weight: 700;
}
.nav-responsive {
  background-color: #3f6558;
  color: #ffff;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  display: none;
}

/*INICIO*/
.inicio {
  background: url(img/media/fondoInicio.png);
  background-size: cover;
  height: 100vh;
  color: #ffff;
  display: flex;
  align-items: center;
  flex-direction: initial;
}
.inicio .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1400px;
  margin: auto;
}
.inicio .fila {
  display: flex;
  flex-direction: row;
}

.alternative {
  font-family: "fuenteAlternativa";
  color: #e9d137;
  font-size: 70px;
  margin-top: -30px;
}

.unete {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 50px;
}

.descri {
  margin-left: 50px;
  margin-right: 50px;
  text-align: justify;
  color: #ffffff;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 25px;
}

/* Estilos para el texto */
.conocemas {
  margin-bottom: 20px;
  flex-direction: column;
  align-items: center;
  text-align: center; /* Centra horizontalmente el contenido */
  position: absolute;
  bottom: 10px; /* Ajusta la distancia desde la parte inferior según tus preferencias */
  left: 50%; /* Centra horizontalmente el elemento */
  transform: translateX(-50%); /* Centra horizontalmente el elemento */
}
.conocemass p {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: x-large;
  font-weight: bold;
}

/* Estilos para el icono de flecha */
.arrow-icon {
  cursor: pointer;
  margin-top: 10px; /* Espacio entre el texto y la flecha */
}

/* PROBLEMATICA */
.problematica {
  height: 85vh;
  background-color: #3f6558;
  align-items: center;
  text-align: center; /* Para centrar el texto también */
}

.problematica .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1400px;
  margin: auto;
}

.problematica .fila {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
}

.problematica .fila .columna {
  align-items: center;
  justify-content: center;
}

.problematica .container .fila .columna img {
  width: 200px;
}

.problematica .container .fila .columna .sabias {
  font-family: "fuenteAlternativa";
  font-weight: bold;
  font-size: 40px;
  color: #e9d137;
}
.problematica .container .fila .columna h2 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: bold;
  font-size: 30px;
  margin-top: -20px;
  color: white;
}
.problematica .container .fila .columna span {
  font-family: "fuenteAlternativa";
  font-weight: bold;
  font-size: 40px;
  color: #e9d137;
}
.problematica .container .fila .columna p {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: white;
}

.problematica .container span {
  font-family: "fuenteAlternativa";
  font-weight: bold;
  font-size: 30px;
  color: #e9d137;
}
.problematica .container .imagen {
  width: 300px;
  margin-bottom: 30px;
  margin-top: 30px;
  border-radius: 10px;
}
.problematica .container p {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: white;
  margin-bottom: 10px;
}

.mapache {
  width: 150px;
}

/* IMPACTO */
.impacto {
  background-color: #eaecde;
  color: #1a2b25;
  padding: 50px 20px;
  height: 90vh;
}
.impacto .contenido-seccion {
  max-width: 1400px;
  margin: auto;
}
.impacto h2 {
  font-size: 48px;
  font-family: "fuenteAlternativa";
  text-align: center;
  padding: 10px 0;
}
.impacto p {
  font-size: 23px;
  margin-bottom: 10px;
  text-align: center;
}
.impacto .contenido-seccion p {
  color: #3f6558;
  font-weight: bold;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin-top: 5px;
  font-size: 20px;
}
.impacto .fila {
  display: flex; /*Para ponerlo como columnas*/
}
.impacto .fila .columna {
  width: 50%;
  align-items: center;
  border-radius: 10px;
  background-color: #e1e1db;
  margin-left: 20px;
  margin-top: 10px;
  padding-bottom: 30px;
}
.impacto .fila .columna h3 {
  margin-top: 30px;
  margin-bottom: 10px;
  font-family: "fuenteAlternativa";
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}

.impacto a {
  text-decoration: none;
}
.impacto button {
  cursor: pointer;
  background-color: transparent;
  border: 2px solid #202d33;
  width: fit-content;
  display: block;
  margin: 50px auto;
  padding: 10px 22px;
  font-size: 20px;
  color: #26353b;
  position: relative;
  z-index: 10;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
/*Efecto de deslice*/
.impacto button .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #e9d137;
  z-index: -1;
  transition: 1s;
}
.impacto button:hover .overlay {
  width: 100%;
}
.impacto button:hover {
  color: black;
  font-weight: 600;
}

.imgImpacto {
  display: block; /* Asegura que la imagen sea un elemento de bloque */
  margin: 0 auto; /* Centra horizontalmente la imagen en su contenedor */
  max-width: 35%; /* Limita el tamaño de la imagen al 50% del ancho del contenedor */
}
.columna div {
  display: flex; /* Utiliza flexbox para colocar las imágenes en fila */
  justify-content: center; /* Centra horizontalmente las imágenes en la fila */
  align-items: center; /* Centra verticalmente las imágenes en la fila (opcional) */
}
.imgImpactoConsumidores {
  display: block; /* Asegura que la imagen sea un elemento de bloque */
  margin: 0 0; /* Centra horizontalmente la imagen en su contenedor */
  max-width: 30%; /* Limita el tamaño de la imagen al 50% del ancho del contenedor */
  margin-bottom: 20px;
}
.contenido-seccion p {
  margin-left: 50px;
  margin-right: 50px;
  text-align: justify;
  color: #202d33;
}

/*FUNCIONAMIENTO*/
.funcionamiento {
  background-color: #edede9;
}
.funcionamiento .contenido-seccion {
  max-width: 1400px;
  margin: auto;
  height: 70vh;
}

.funcionamiento .columna {
  margin-right: 20px;
}

.funcionamiento h2 {
  font-size: 48px;
  font-family: "fuenteAlternativa";
  text-align: center;
  padding: 60px 0 20px 0;
  color: #1a2b25;
}
.funcionamiento .fila {
  display: flex; /*Para ponerlo como columnas*/
}
.funcionamiento .columna li {
  color: #3f6558;
  margin-bottom: 20px;
  font-size: 21px;
  margin-bottom: 20px;
  text-align: justify;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: bold;
  padding-right: 0px;
}

span {
  color: #7ca073;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.slider-frame {
  width: 402px;
  height: 400px;
  overflow: hidden;
  margin-top: -50px;
}

.slider-frame ul {
  display: flex;
  padding: 0;
  width: 200%;

  animation: slide 8s infinite alternate ease-in-out;
}

.slider-frame li {
  width: 100%;
  list-style: none;
}

.slider-frame img {
  width: 402px;
  height: 500px;
  margin-left: 200px;
}

@keyframes slide {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0;
  }

  25% {
    margin-left: -300%;
  }
  45% {
    margin-left: -300%;
  }

  50% {
    margin-left: -600%;
  }
  70% {
    margin-left: -600%;
  }

  75% {
    margin-left: -900%;
  }
  100% {
    margin-left: -900%;
  }
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text h4 {
  font-size: 25px;
  font-family: "fuenteAlternativa";
  text-align: center;
  padding: 10px 0 20px 0;
  color: #1a2b25;
}

.text .mapache {
  width: 8%;
  margin-top: -100px;
}

/* Estilos para centrar el contenido y las imágenes en la sección */
.quienessomos {
  text-align: center;
  background-color: #1a2b25;
  align-items: center;
  height: 55vh;
}

.contenido-bitminds h2 {
  font-size: 38px;
  font-family: "fuenteAlternativa";
  text-align: center;
  padding: 10;
  color: #fffafa;
  margin-top: 40px;
  margin-bottom: 20px;
}

.imgBitMinds {
  width: 200px;
  margin-bottom: 10px;
}
.contenido-bitminds {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Estilos para la fila de imágenes circulares */
.circulo-imagenes {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px; /* Ajusta el margen superior según sea necesario */
}

/* Estilos para cada columna de integrante */
.columna-integrante {
  text-align: center;
  margin: 0 15px; /* Espacio horizontal entre las columnas de integrantes */
}

/* Estilos para las imágenes circulares */
.imagen-circulo {
  width: 200px; /* Tamaño del círculo */
  height: 200px; /* Tamaño del círculo */
  border-radius: 50%; /* Hace que la imagen sea circular */
  overflow: hidden;
  display: flex; /* Activa el modelo de caja flexible */
  justify-content: center; /* Centra verticalmente la imagen */
  align-items: top; /* Centra horizontalmente la imagen */
}

.imgIntegrante {
  width: 100%; /* Ajusta el tamaño de la imagen dentro del círculo */
  height: 110%; /* Ajusta el tamaño de la imagen dentro del círculo */
  object-fit: fill; /* Ajusta el tamaño de la imagen manteniendo la proporción */
  align-items: center;
}

/* Estilos para la descripción del integrante */
.descripcion {
  margin-top: 10px; /* Espacio entre la imagen y la descripción */
  font-weight: bold; /* Opcional: Hace que la descripción sea negrita */
  color: #ffff;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 20px;
}

/*CONTACTANOS*/
.contacto {
  background-color: #3f6558;
  height: 45vh;
}
.contacto h2 {
  font-size: 48px;
  font-family: "fuenteAlternativa";
  text-align: center;
  padding: 3px 0 20px 0;
  color: #1a2b25;
}
form {
  max-width: 900px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button[type="submit"] {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  display: block; /* Hacer que el botón sea un elemento de bloque */
  margin: 0 auto; /* Alinear a la izquierda */
}

button[type="submit"]:hover {
  background-color: #e9d137;
}

.arriba {
  color: #e9d137;
  padding: 10px 12px;
  background-color: #3f6558;
  border-radius: 100%;
}

/*FOOTER*/
footer {
  background-color: #202d33;
  color: #ffff;
  padding: 50px 0 30px 0;
  text-align: center;
  position: relative;
  width: 100%;
}

/*SECCIÓN RESPONSIVE*/
@media screen and (max-width: 1400px) {
  .contenedor-header header {
    height: 50px;
  }
  /*INICIO*/

  .inicio .container {
    max-width: 1300px;
  }
  .alternative {
    font-family: "fuenteAlternativa";
    color: #e9d137;
    font-size: 60px;
    margin-top: -20px;
  }

  .unete {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 40px;
  }

  .descri {
    margin-right: 50px;
    margin-left: 50px;
  }

  /* PROBLEMATICA */
  .problematica {
    height: auto;
  }

  .problematica .container {
    max-width: 1300px;
    margin: auto;
  }

  .problematica .container .fila .columna img {
    width: 150px;
  }

  .problematica .container .imagen {
    width: 250px;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 10px;
  }
  .problematica .container p {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    font-weight: bold;
    font-size: 25px;
    color: white;
    margin-bottom: 10px;
  }

  .mapache {
    width: 150px;
    margin-bottom: -30px;
  }

  /* IMPACTO */
  .impacto {
    padding: 20px 20px;
    height: auto;
  }
  .impacto .contenido-seccion {
    max-width: 1300px;
    margin: auto;
  }

  .impacto button {
    margin: 20px auto;
  }

  /*FUNCIONAMIENTO*/
  .funcionamiento {
    background-color: #edede9;
    height: auto;
  }
  .funcionamiento .contenido-seccion {
    max-width: 1300px;
    margin: auto;
  }

  .funcionamiento h2 {
    padding: 20px 0 20px 0;
  }

  .text h4 {
    margin-top: 20px;
  }

  /* Estilos para centrar el contenido y las imágenes en la sección */
  .quienessomos {
    height: auto;
  }

  /* Estilos para cada columna de integrante */
  .columna-integrante {
    text-align: center;
    margin: 0 15px; /* Espacio horizontal entre las columnas de integrantes */
  }

  /* Estilos para la descripción del integrante */
  .descripcion {
    margin-bottom: 30px;
  }

  /*CONTACTANOS*/
  .contacto {
    background-color: #3f6558;
    height: 55vh;
  }
}

@media screen and (max-width: 1280px) {
  .contenedor-header header {
    height: 50px;
  }
  /*INICIO*/

  .inicio .container {
    max-width: 1200px;
  }
  .descri {
    margin-left: 0px;
  }

  /* PROBLEMATICA */
  .problematica {
    height: auto;
  }

  .problematica .container {
    max-width: 1200px;
    margin: auto;
  }
  .problematica .container .fila .columna h2 {
    font-size: 40px;
  }
  .problematica .container .fila .columna img {
    width: 250px;
  }

  .problematica .container .imagen {
    width: 300px;
  }

  /* IMPACTO */
  .impacto .contenido-seccion {
    max-width: 1200px;
    margin: auto;
  }

  /*FUNCIONAMIENTO*/
  .funcionamiento .contenido-seccion {
    max-width: 1200px;
    margin: auto;
    height: auto;
  }

  .funcionamiento h2 {
    padding: 30px 0 30px 0;
  }

  .text h4 {
    margin-top: 30px;
  }

  .text .mapache {
    width: 8%;
    margin-top: -80px;
  }

  /* Estilos para centrar el contenido y las imágenes en la sección */
  .quienessomos {
    height: auto;
  }

  .quienessomos .contenido-bitminds {
    max-width: 1200px;
    margin: auto;
  }

  .contenido-bitminds h2 {
    font-size: 40px;
  }

  .contenido-bitminds .imgBitMinds {
    width: 30%;
  }
  .contenido-bitminds p {
    font-size: 24px;
    margin-bottom: 5px;
  }

  /* Estilos para la descripción del integrante */
  .columna-integrante .descripcion {
    font-size: 25px;
    margin-bottom: 30px;
  }
  .contacto {
    height: 45vh;
  }
}

/* RESPONSIVE MAS DE 768 */
@media screen and (max-width: 1170px) {
  /* Estilos para pantallas más pequeñas, como tabletas */
  .contenedor-header header ul {
    display: none;
  }
  .nav-responsive {
    display: block;
  }
  .nav-responsive ul {
    list-style: none;
  }
  .nav-responsive ul li {
    border-bottom: 1px solid #ffff;
    padding: 10px 0;
    border-radius: 10px;
    background-color: #1cb698;
    color: #e1e1db;
  }

  .imglogo {
    width: 60%;
  }

  .inicio .container {
    max-width: 1100px;
    margin: auto;
  }
  .inicio .fila {
    display: block;
  }
  .inicio .columna .unete {
    font-size: 100px;
    margin-top: 10px;
    align-items: center;
    text-align: center;
  }
  .inicio .columna .alternative {
    font-size: 80px;
    margin-top: -4px;
    text-align: center;
  }
  .inicio .columna .descri {
    font-size: 40px;
    align-items: center;
  }
  .columna .imagenBolsa {
    width: 700px;
    margin-left: 200px;
  }
  .conocemas {
    margin-bottom: 100px;
  }

  .conocemass p {
    font-size: 60px;
  }

  .problematica {
    height: auto;
  }
  .problematica .container {
    max-width: 1100px;
    margin: auto;
  }
  .problematica .fila {
    display: block;
  }

  .problematica .container .fila .columna img {
    width: 400px;
    margin-top: -40px;
  }
  .problematica .container .fila .columna .sabias {
    font-size: 80px;
  }
  .problematica .container .fila .columna h2 {
    font-size: 50px;
    margin-top: -20px;
    color: white;
    margin-bottom: 10px;
  }
  .problematica .container .fila .columna span {
    font-family: "fuenteAlternativa";
    font-weight: bold;
    font-size: 50px;
    color: #e9d137;
  }
  .problematica .container .fila .columna p {
    font-size: 30px;
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 40px;
    margin-right: 40px;
  }

  .problematica .container span {
    font-size: 40px;
  }
  .problematica .container .imagen {
    width: 500px;
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 10px;
  }
  .problematica .container p {
    font-size: 35px;
    color: white;
    margin-bottom: 10px;
    margin-left: 40px;
    margin-right: 40px;
  }
  .problematica .container h3 {
    font-size: 40px;
    margin-top: 50px;
    margin-bottom: 30px;
  }

  .mapache {
    width: 200px;
    margin-bottom: -50px;
  }

  /* Impacto */

  .impacto {
    height: auto;
  }
  .impacto .contenido-seccion {
    max-width: 1100px;
    margin: auto;
  }

  .impacto .fila {
    display: block;
  }
  .impacto .fila .columna {
    width: 95%;
    justify-content: center;
  }
  .impacto .contenido-seccion .fila .columna h3 {
    font-size: 50px;
  }
  .impacto .contenido-seccion p {
    font-size: 40px;
  }
  .impacto .contenido-seccion h2 {
    font-size: 90px;
  }
  .imgImpacto {
    display: block; /* Asegura que la imagen sea un elemento de bloque */
    margin: 0 auto; /* Centra horizontalmente la imagen en su contenedor */
    max-width: 20%; /* Limita el tamaño de la imagen al 50% del ancho del contenedor */
  }
  .imgImpactoConsumidores {
    display: block; /* Asegura que la imagen sea un elemento de bloque */
    margin: 0 0; /* Centra horizontalmente la imagen en su contenedor */
    max-width: 20%; /* Limita el tamaño de la imagen al 50% del ancho del contenedor */
    margin-bottom: 20px;
  }

  .impacto button {
    font-size: 50px;
    margin-top: 40px;
    margin-bottom: 10px;
  }

  .funcionamiento .contenido-seccion {
    max-width: 1000px;
    margin: auto;
    height: auto;
  }
  .funcionamiento .fila {
    flex-direction: column;
    margin-left: 40px;
    margin-right: 40px;
  }

  .funcionamiento h2 {
    text-align: center;
    padding: 30px 0 20px 0;
    font-size: 90px;
  }
  .funcionamiento .columna li {
    font-size: 40px;
    margin-bottom: 50px;
  }

  .slider-frame {
    width: 795px;
    height: 800px;
    overflow: hidden;
    margin-top: 0px;
  }

  .slider-frame img {
    width: 802px;
    height: 1000px;
    margin-left: 390px;
  }
  .text h4 {
    margin-top: 90px;
    font-size: 40px;
  }

  .text .mapache {
    width: 0%;
  }

  .quienessomos {
    height: auto;
  }

  .quienessomos .contenido-bitminds {
    max-width: 1000px;
    margin: auto;
  }

  .contenido-bitminds h2 {
    font-size: 60px;
    font-family: "fuenteAlternativa";
    text-align: center;
    padding: 10;
    color: #fffafa;
    margin-top: 40px;
    margin-bottom: 20px;
  }

  .contenido-bitminds {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 40px;
    margin-right: 40px;
  }

  .contenido-bitminds .imgBitMinds {
    width: 40%;
  }
  .contenido-bitminds p {
    font-size: 30px;
  }

  .columna-integrante {
    margin-bottom: 20px;
  }
  /* Estilos para las imágenes circulares */
  .imagen-circulo {
    width: 230px; /* Tamaño del círculo */
    height: 230px; /* Tamaño del círculo */
  }

  /* Estilos para la descripción del integrante */
  .columna-integrante .descripcion {
    font-size: 25px;
    margin-bottom: 30px;
  }
  .contacto {
    height: 18vh;
  }

  .contacto .contenido-seccion {
    margin-bottom: 40px;
    max-width: 1000px;
    margin: auto;
  }

  .contacto form {
    margin-left: 40px;
    margin-right: 40px;
  }
}

@media screen and (max-width: 768px) {
  /* Ajusta el tamaño y margen del logo en el encabezado */
  .imglogo {
    width: 40%;
  }

  /* Ajusta el tamaño de la fuente en el menú principal */
  .contenedor-header header .logo a {
    font-size: 30px;
  }
  .contenedor-header header ul {
    display: none; /* Oculta el menú principal */
  }
  .nav-responsive {
    display: block; /* Muestra el menú hamburguesa */
  }
  nav.responsive {
    display: block;
    position: absolute;
    right: 0;
    top: 75px;
    background-color: #3f6558;
    width: 180px;
    border-radius: 5px;
  }
  nav.responsive ul {
    display: block !important;
  }
  nav.responsive ul li {
    border-bottom: 1px solid #26353b;
    padding: 10px 0;
  }

  .inicio .container {
    max-width: 760px;
    margin: auto;
    margin-left: 40px;
    height: auto;
  }
  .inicio .fila {
    display: block;
  }
  .inicio .columna .unete {
    font-size: 40px;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
  .inicio .columna .alternative {
    font-size: 55px;
  }
  .inicio .columna .descri {
    font-size: 25px;
  }
  .columna .imagenBolsa {
    margin-left: 160px;
    width: 50%;
  }

  .conocemas {
    margin-bottom: 20px;
    flex-direction: column;
    align-items: center;
    text-align: center; /* Centra horizontalmente el contenido */
    position: absolute;
    bottom: 10px; /* Ajusta la distancia desde la parte inferior según tus preferencias */
    left: 50%; /* Centra horizontalmente el elemento */
    transform: translateX(-50%); /* Centra horizontalmente el elemento */
  }

  .conocemass p {
    font-size: 25px;
  }

  .arrow-icon i {
    font-size: 40px; /* Tamaño del icono */
    color: #e9d137; /* Color normal */
    transition: color 0.3s; /* Agrega una transición para el cambio de color */
  }

  .problematica {
    height: auto;
  }
  .problematica .container {
    max-width: 750px;
    margin: auto;
  }
  .problematica .fila {
    display: block;
  }

  .problematica .container .fila .columna img {
    width: 200px;
    margin-top: -40px;
  }
  .problematica .container .fila .columna .sabias {
    font-size: 50px;
  }
  .problematica .container .fila .columna h2 {
    font-size: 40px;
    margin-top: -10px;
  }
  .problematica .container .fila .columna span {
    font-size: 30px;
  }
  .problematica .container .fila .columna p {
    font-size: 20px;
  }
  .problematica .container h3 {
    font-size: 25px;
    margin-top: 30px;
    margin-left: 50px;
  }
  .problematica .container span {
    font-size: 25px;
  }
  .problematica .container .imagen {
    width: 300px;
  }
  .problematica .container p {
    font-size: 20px;
    margin-bottom: 10px;
    margin-left: 40px;
    margin-right: 40px;
  }

  .mapache {
    width: 140px;
    margin-bottom: -40px;
  }
  /* Impacto */

  .impacto {
    height: auto;
  }

  .impacto .contenido-seccion {
    max-width: 760px;
    margin: auto;
  }
  .impacto .contenido-seccion h2 {
    font-size: 55px;
    margin-top: -10px;
  }

  .impacto .fila {
    display: block;
  }
  .impacto .fila .columna {
    width: 95%;
    justify-content: center;
  }
  .impacto .contenido-seccion .fila .columna h3 {
    font-size: 40px;
  }
  .impacto .contenido-seccion p {
    font-size: 25px;
    text-align: center;
  }
  .imgImpacto {
    display: block; /* Asegura que la imagen sea un elemento de bloque */
    margin: 0 auto; /* Centra horizontalmente la imagen en su contenedor */
    max-width: 20%; /* Limita el tamaño de la imagen al 50% del ancho del contenedor */
  }
  .imgImpactoConsumidores {
    display: block; /* Asegura que la imagen sea un elemento de bloque */
    margin: 0 0; /* Centra horizontalmente la imagen en su contenedor */
    max-width: 17%; /* Limita el tamaño de la imagen al 50% del ancho del contenedor */
    margin-bottom: 20px;
  }
  .impacto .contenido-seccion .fila .columna p {
    font-size: 23px;
    text-align: justify;
    margin-left: 25px;
    margin-right: 25px;
  }
  .impacto button {
    font-size: 30px;
    margin-top: 40px;
    margin-bottom: 10px;
  }

  .funcionamiento .contenido-seccion {
    max-width: 760px;
    margin: auto;
    height: auto;
  }
  .funcionamiento .fila {
    flex-direction: column;
  }

  .funcionamiento h2 {
    font-size: 55px;
    text-align: center;
    padding: 30px 0 20px 0;
  }

  .funcionamiento .fila .columna li {
    font-size: 25px;
  }

  .slider-frame {
    width: 540px;
    height: 600px;
    overflow: hidden;
    margin-top: -70px;
    margin-left: 60px;
  }

  .slider-frame ul {
    display: flex;
    padding: 0;
    width: 200%;

    animation: slide 8s infinite alternate ease-in-out;
  }

  .slider-frame li {
    width: 100%;
    list-style: none;
  }

  .slider-frame img {
    width: 502px;
    height: 600px;
    margin-left: 300px;
  }

  .text h4 {
    margin-top: 30px;
    font-size: 25px;
    margin-left: 40px;
    margin-right: 40px;
  }

  .text .mapache {
    width: 0%;
  }
  .quienessomos {
    height: auto;
  }

  .quienessomos .contenido-bitminds {
    max-width: 760px;
    margin: auto;
    margin-left: 40px;
    margin-right: 40px;
  }

  .contenido-bitminds h2 {
    font-size: 40px;
  }

  .contenido-bitminds p {
    font-size: 25px;
  }

  .contenido-bitminds {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 40px;
    margin-right: 40px;
  }

  .circulo-imagenes {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
  }
  .columna-integrante {
    margin-right: 0px;
    margin-left: 0px;
    text-align: center;
    /* Espacio horizontal entre las columnas de integrantes */
  }
  /* Estilos para las imágenes circulares */
  .imagen-circulo {
    width: 200px; /* Tamaño del círculo */
    height: 200px; /* Tamaño del círculo */
  }

  /* Estilos para la descripción del integrante */
  .descripcion {
    font-size: 14px;
    text-align: center;
  }
  .contacto {
    max-width: 768px;
    margin: auto;
    height: 40vh;
  }

  .contacto .contenido-seccion {
    margin-bottom: 40px;
  }

  .contacto form {
    margin-left: 40px;
    margin-right: 40px;
  }
}

/* Estilos generales para dispositivos móviles */
@media screen and (max-width: 720px) {
  /* Ajusta el tamaño y margen del logo en el encabezado */
  .imglogo {
    width: 50%;
    margin: 0 auto;
    margin-top: 10px;
  }

  /* Ajusta el tamaño de la fuente en el menú principal */
  .contenedor-header header .logo a {
    font-size: 30px;
  }
  .contenedor-header header ul {
    display: none; /* Oculta el menú principal */
  }
  .nav-responsive {
    display: block; /* Muestra el menú hamburguesa */
  }

  .inicio .container {
    max-width: 720px;
    margin: auto;
    margin-left: 40px;
    margin-right: 40px;
  }
  .inicio .fila {
    display: block;
  }
  .inicio .columna .unete {
    font-size: 60px;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
  .inicio .columna .alternative {
    font-size: 55px;
    margin-top: -4px;
    margin-right: 2px;
    margin-left: -2px;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
  }
  .inicio .columna .descri {
    font-size: 32px;
    align-items: center;
    text-align: justify;
    font-weight: lighter;
  }
  .columna .imagenBolsa {
    margin-left: 130px;
    width: 70%;
  }

  .conocemass p {
    font-size: 30px;
  }

  .problematica {
    height: auto;
  }
  .problematica .container {
    max-width: 720px;
    margin: auto;
  }
  .problematica .fila {
    display: block;
  }

  .problematica .container .fila .columna img {
    width: 230px;
    margin-top: -40px;
  }
  .problematica .container .fila .columna .sabias {
    font-size: 50px;
  }
  .problematica .container .fila .columna h2 {
    font-size: 30px;
    margin-top: -10px;
    margin-bottom: 0px;
    margin-right: 40px;
    margin-left: 40px;
  }
  .problematica .container .fila .columna span {
    font-size: 30px;
  }
  .problematica .container .fila .columna p {
    font-size: 20px;
  }
  .problematica .container h3 {
    font-size: 30px;
    margin-top: 30px;
  }
  .problematica .container span {
    font-size: 30px;
  }
  .problematica .container .imagen {
    width: 300px;
  }
  .problematica .container p {
    font-size: 25px;
    margin-bottom: 10px;
    margin-left: 40px;
    margin-right: 40px;
  }

  .mapache {
    width: 150px;
    margin-bottom: -40px;
  }

  /* Impacto */

  .impacto {
    height: auto;
  }

  .impacto .contenido-seccion {
    max-width: 720px;
    margin: auto;
  }
  .impacto .contenido-seccion h2 {
    font-size: 60px;
    margin-top: -10px;
  }

  .impacto .fila {
    display: block;
  }
  .impacto .fila .columna {
    width: 90%;
    justify-content: center;
  }
  .impacto .contenido-seccion .fila .columna h3 {
    font-size: 40px;
  }
  .impacto .contenido-seccion p {
    font-size: 25px;
    text-align: center;
  }
  .imgImpacto {
    display: block; /* Asegura que la imagen sea un elemento de bloque */
    margin: 0 auto; /* Centra horizontalmente la imagen en su contenedor */
    max-width: 25%; /* Limita el tamaño de la imagen al 50% del ancho del contenedor */
  }
  .imgImpactoConsumidores {
    display: block; /* Asegura que la imagen sea un elemento de bloque */
    margin: 0 0; /* Centra horizontalmente la imagen en su contenedor */
    max-width: 20%; /* Limita el tamaño de la imagen al 50% del ancho del contenedor */
    margin-bottom: 20px;
  }
  .impacto .contenido-seccion .fila .columna p {
    font-size: 25px;
    text-align: justify;
    margin-left: 14px;
    margin-right: 14px;
  }
  .impacto button {
    font-size: 30px;
    margin-top: 40px;
    margin-bottom: 10px;
  }

  .funcionamiento .contenido-seccion {
    max-width: 720px;
    margin: auto;
    height: auto;
  }
  .funcionamiento .fila {
    flex-direction: column;
    margin-left: 40px;
    margin-right: 40px;
  }

  .funcionamiento h2 {
    font-size: 60px;
    text-align: center;
    padding: 30px 0 20px 0;
  }

  .funcionamiento .fila .columna li {
    font-size: 25px;
  }

  .slider-frame {
    width: 540px;
    height: 600px;
    overflow: hidden;
    margin-top: -30px;
    margin-left: 0px;
  }

  .slider-frame ul {
    display: flex;
    padding: 0;
    width: 200%;

    animation: slide 8s infinite alternate ease-in-out;
  }

  .slider-frame li {
    width: 100%;
    list-style: none;
  }

  .slider-frame img {
    width: 502px;
    height: 600px;
    margin-left: 300px;
  }

  .text h4 {
    margin-top: 70px;
    font-size: 25px;
    margin-left: 40px;
    margin-right: 40px;
  }

  .text .mapache {
    width: 0%;
  }
  .quienessomos {
    height: auto;
  }

  .quienessomos .contenido-bitminds {
    max-width: 720px;
    margin: auto;
    margin-left: 40px;
    margin-right: 40px;
  }

  .contenido-bitminds h2 {
    font-size: 4px;
  }

  .contenido-bitminds {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 40px;
    margin-right: 40px;
  }

  .circulo-imagenes {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
  }
  .columna-integrante {
    margin-right: 0px;
    margin-left: 0px;
    text-align: center;
    /* Espacio horizontal entre las columnas de integrantes */
  }
  /* Estilos para las imágenes circulares */
  .imagen-circulo {
    width: 300px; /* Tamaño del círculo */
    height: 300px; /* Tamaño del círculo */
  }

  /* Estilos para la descripción del integrante */
  .descripcion {
    font-size: 14px;
    text-align: center;
  }
  .contacto {
    max-width: 720px;
    margin: auto;
    height: 30vh;
  }

  .contacto .contenido-seccion {
    margin-bottom: 40px;
  }

  .contacto form {
    margin-left: 40px;
    margin-right: 40px;
  }
}

/* Estilos para dispositivos aún más pequeños, como celulares muy pequeños */
@media screen and (max-width: 375px) {
  /* Ajusta aún más el tamaño de la fuente en algunos elementos */
  .imglogo {
    width: 50%;
    margin: 0 auto;
    margin-top: 10px;
  }

  /* Ajusta el tamaño de la fuente en el menú principal */
  .contenedor-header header .logo a {
    font-size: 30px;
  }
  .contenedor-header header ul {
    display: none; /* Oculta el menú principal */
  }
  .nav-responsive {
    display: block; /* Muestra el menú hamburguesa */
  }

  .inicio .container {
    max-width: 350px;
    margin: auto;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
  }
  .inicio .fila {
    display: block;
  }
  .inicio .columna .unete {
    font-size: 30px;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
  .inicio .columna .alternative {
    font-size: 25px;
    margin-top: -4px;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
  }
  .inicio .columna .descri {
    font-size: 20px;
    margin-left: 40px;
    align-items: center;
    text-align: justify;
    font-weight: lighter;
  }
  .columna .imagenBolsa {
    margin-left: 80px;
    width: 60%;
    margin-bottom: 40px;
  }

  .conocemass p {
    font-size: 20px;
  }

  .problematica {
    height: auto;
  }
  .problematica .container {
    max-width: 360px;
    margin: auto;
  }
  .problematica .fila {
    display: block;
  }

  .problematica .container .fila .columna img {
    width: 180px;
    margin-top: -40px;
  }
  .problematica .container .fila .columna .sabias {
    font-size: 40px;
  }
  .problematica .container .fila .columna h2 {
    font-size: 25px;
    margin-top: -10px;
    margin-bottom: 0px;
    margin-right: 40px;
    margin-left: 40px;
  }
  .problematica .container .fila .columna span {
    font-size: 25px;
  }
  .problematica .container .fila .columna p {
    font-size: 20px;
  }
  .problematica .container h3 {
    font-size: 20px;
    margin-top: 30px;
  }
  .problematica .container span {
    font-size: 20px;
  }
  .problematica .container .imagen {
    width: 200px;
    margin-top: -20px;
  }
  .problematica .container p {
    font-size: 18px;
    margin-bottom: 10px;
    margin-left: 40px;
    margin-right: 40px;
  }

  .mapache {
    width: 120px;
    margin-bottom: -40px;
  }

  /* Impacto */

  .impacto {
    height: auto;
  }

  .impacto .contenido-seccion {
    max-width: 360px;
    margin: auto;
  }
  .impacto .contenido-seccion h2 {
    font-size: 33px;
    margin-top: -2px;
  }

  .impacto .fila {
    display: block;
  }
  .impacto .fila .columna {
    width: 90%;
    justify-content: center;
  }
  .impacto .contenido-seccion .fila .columna h3 {
    font-size: 30px;
  }
  .impacto .contenido-seccion p {
    font-size: 19px;
    text-align: center;
    margin-left: 0px;
    margin-right: 0px;
  }
  .imgImpacto {
    display: block; /* Asegura que la imagen sea un elemento de bloque */
    margin: 0 auto; /* Centra horizontalmente la imagen en su contenedor */
    max-width: 25%; /* Limita el tamaño de la imagen al 50% del ancho del contenedor */
  }
  .imgImpactoConsumidores {
    display: block; /* Asegura que la imagen sea un elemento de bloque */
    margin: 0 0; /* Centra horizontalmente la imagen en su contenedor */
    max-width: 20%; /* Limita el tamaño de la imagen al 50% del ancho del contenedor */
    margin-bottom: 20px;
  }
  .impacto .contenido-seccion .fila .columna p {
    font-size: 20px;
    text-align: justify;
    margin-left: 14px;
    margin-right: 14px;
  }
  .impacto button {
    font-size: 23px;
    margin-top: 40px;
    margin-bottom: 10px;
  }

  .funcionamiento .contenido-seccion {
    max-width: 360px;
    margin: auto;
    height: auto;
  }
  .funcionamiento .fila {
    flex-direction: column;
    margin-left: 40px;
    margin-right: 40px;
  }

  .funcionamiento h2 {
    font-size: 40px;
    text-align: center;
    padding: 30px 0 20px 0;
  }

  .funcionamiento .fila .columna li {
    font-size: 20px;
  }

  .slider-frame {
    width: 300px;
    height: 400px;
    overflow: hidden;
    margin-top: -30px;
    margin-left: 0px;
  }

  .slider-frame ul {
    display: flex;
    padding: 0;
    width: 200%;

    animation: slide 8s infinite alternate ease-in-out;
  }

  .slider-frame li {
    width: 100%;
    list-style: none;
  }

  .slider-frame img {
    width: 302px;
    height: 400px;
    margin-left: 150px;
  }

  .text h4 {
    margin-top: 50px;
    font-size: 20px;
    margin-left: 40px;
    margin-right: 40px;
  }

  .text .mapache {
    width: 0%;
  }
  .quienessomos {
    height: auto;
  }

  .quienessomos .contenido-bitminds {
    max-width: 360px;
    margin: auto;
    margin-left: 40px;
    margin-right: 40px;
  }

  .contenido-bitminds h2 {
    font-size: 30px;
  }
  .contenido-bitminds .imgBitMinds {
    width: 70%;
  }
  .contenido-bitminds p {
    font-size: 20px;
  }

  .contenido-bitminds {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 40px;
    margin-right: 40px;
  }

  .circulo-imagenes {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
  }
  .columna-integrante {
    margin-right: 0px;
    margin-left: 0px;
    text-align: center;
    /* Espacio horizontal entre las columnas de integrantes */
  }
  /* Estilos para las imágenes circulares */
  .imagen-circulo {
    width: 200px; /* Tamaño del círculo */
    height: 200px; /* Tamaño del círculo */
  }

  /* Estilos para la descripción del integrante */
  .descripcion {
    font-size: 14px;
    text-align: center;
  }
  .contacto {
    max-width: 375px;
    margin: auto;
    height: 50vh;
  }

  .contacto .contenido-seccion {
    margin-bottom: 40px;
  }

  .contacto form {
    margin-left: 40px;
    margin-right: 40px;
  }
}

/* Estilos para dispositivos aún más pequeños, como celulares muy pequeños */
@media screen and (max-width: 360px) {
  /* Ajusta aún más el tamaño de la fuente en algunos elementos */
  .imglogo {
    width: 50%;
    margin: 0 auto;
    margin-top: 10px;
  }

  .contenedor-header header {
    height: 40px;
  }

  /* Ajusta el tamaño de la fuente en el menú principal */
  .contenedor-header header .logo a {
    font-size: 25px;
  }
  .contenedor-header header ul {
    display: none; /* Oculta el menú principal */
  }
  .nav-responsive {
    display: block; /* Muestra el menú hamburguesa */
  }

  .inicio .container {
    max-width: 350px;
    margin: auto;
    align-items: center;
  }
  .inicio .fila {
    display: block;
  }
  .inicio .columna .unete {
    font-size: 25px;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
  .inicio .columna .alternative {
    font-size: 25px;
    margin-top: -4px;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
  }
  .inicio .columna .descri {
    font-size: 16px;
    font-weight: bold;
    margin-left: 40px;
    align-items: center;
    text-align: justify;
    font-weight: lighter;
  }
  .columna .imagenBolsa {
    margin-left: 80px;
    width: 55%;
    margin-bottom: 50px;
  }

  .conocemass p {
    font-size: 15px;
  }

  .problematica {
    height: auto;
  }
  .problematica .container {
    max-width: 360px;
    margin: auto;
  }
  .problematica .fila {
    display: block;
  }

  .problematica .container .fila .columna img {
    width: 130px;
    margin-top: -40px;
  }
  .problematica .container .fila .columna .sabias {
    font-size: 30px;
  }
  .problematica .container .fila .columna h2 {
    font-size: 20px;
    margin-top: -10px;
    margin-bottom: 0px;
    margin-right: 40px;
    margin-left: 40px;
  }
  .problematica .container .fila .columna span {
    font-size: 20px;
  }
  .problematica .container .fila .columna p {
    font-size: 15px;
  }
  .problematica .container h3 {
    font-size: 18px;
    margin-top: 30px;
  }
  .problematica .container span {
    font-size: 18px;
  }
  .problematica .container .imagen {
    width: 200px;
    margin-top: -20px;
  }
  .problematica .container p {
    font-size: 16px;
    margin-bottom: 10px;
    margin-left: 40px;
    margin-right: 40px;
  }

  .mapache {
    width: 100px;
    margin-bottom: -40px;
  }

  /* Impacto */

  .impacto {
    height: auto;
  }

  .impacto .contenido-seccion {
    max-width: 350px;
    margin: auto;
  }
  .impacto .contenido-seccion h2 {
    font-size: 30px;
    margin-top: -2px;
  }

  .impacto .fila {
    display: block;
  }
  .impacto .fila .columna {
    width: 85%;
    justify-content: center;
  }
  .impacto .contenido-seccion .fila .columna h3 {
    font-size: 30px;
  }
  .impacto .contenido-seccion p {
    font-size: 16px;
    text-align: center;
    margin-left: 0px;
    margin-right: 0px;
  }
  .imgImpacto {
    display: block; /* Asegura que la imagen sea un elemento de bloque */
    margin: 0 auto; /* Centra horizontalmente la imagen en su contenedor */
    max-width: 25%; /* Limita el tamaño de la imagen al 50% del ancho del contenedor */
  }
  .imgImpactoConsumidores {
    display: block; /* Asegura que la imagen sea un elemento de bloque */
    margin: 0 0; /* Centra horizontalmente la imagen en su contenedor */
    max-width: 20%; /* Limita el tamaño de la imagen al 50% del ancho del contenedor */
    margin-bottom: 20px;
  }
  .impacto .contenido-seccion .fila .columna p {
    font-size: 16px;
    text-align: justify;
    margin-left: 14px;
    margin-right: 14px;
  }
  .impacto button {
    font-size: 20px;
    margin-top: 40px;
    margin-bottom: 10px;
  }

  .funcionamiento .contenido-seccion {
    max-width: 350px;
    margin: auto;
    height: auto;
  }
  .funcionamiento .fila {
    flex-direction: column;
    margin-left: 30px;
    margin-right: 20px;
  }

  .funcionamiento h2 {
    font-size: 35px;
    text-align: center;
    padding: 30px 0 20px 0;
  }

  .funcionamiento .fila .columna li {
    font-size: 16px;
  }

  .slider-frame {
    width: 300px;
    height: 400px;
    overflow: hidden;
    margin-top: -30px;
    margin-left: 0px;
  }

  .slider-frame ul {
    display: flex;
    padding: 0;
    width: 200%;

    animation: slide 8s infinite alternate ease-in-out;
  }

  .slider-frame li {
    width: 100%;
    list-style: none;
  }

  .slider-frame img {
    width: 302px;
    height: 400px;
    margin-left: 150px;
  }

  .text h4 {
    margin-top: 50px;
    font-size: 16px;
    margin-left: 40px;
    margin-right: 40px;
  }

  .text .mapache {
    width: 0%;
  }
  .quienessomos {
    height: auto;
  }

  .quienessomos .contenido-bitminds {
    max-width: 360px;
    margin: auto;
    margin-left: 40px;
    margin-right: 40px;
  }

  .contenido-bitminds h2 {
    font-size: 25px;
  }
  .contenido-bitminds .imgBitMinds {
    width: 70%;
  }
  .contenido-bitminds p {
    font-size: 18px;
  }

  .contenido-bitminds {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 40px;
    margin-right: 40px;
  }

  .circulo-imagenes {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
  }
  .columna-integrante {
    margin-right: 0px;
    margin-left: 0px;
    text-align: center;
    /* Espacio horizontal entre las columnas de integrantes */
  }
  /* Estilos para las imágenes circulares */
  .imagen-circulo {
    width: 180px; /* Tamaño del círculo */
    height: 180px; /* Tamaño del círculo */
  }

  /* Estilos para la descripción del integrante */
  .descripcion {
    font-size: 10px;
    text-align: center;
  }
  .contacto {
    max-width: 360px;
    margin: auto;
    height: 70vh;
  }

  .contacto .contenido-seccion {
    margin-bottom: 40px;
  }

  .contacto form {
    margin-left: 40px;
    margin-right: 40px;
  }
}
